.cardSection {
  border-color: #f47d30 !important;
  cursor: pointer;
}
.cardSection:hover {
  background-color: #f47d30;
}
.cardSection:hover .cardHeading a{
  color: #fff !important;
}
.cardHeading {
  /* color: #f47d30;
  padding: 20px 30px; */
}
.cardHeading a{
  color: #f47d30 !important;
  text-decoration: none !important;
  font-size: 1rem;
  display: block;
  padding: 6px 30px;
}
.cardSection .card-body{
  width: 100%;
  text-align: center;
}