img{
  max-width: 100%;
  height: auto;
}
.breadcrumbs{
  padding-left: 0rem;
}
.breadcrumbs li {
  color: #666;
  display: inline;
  font-weight: 300;
  font-size: 13px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.breadcrumbs li a {
  color: #f47d30 !important;
  text-decoration: none !important;
  font-weight: 400;
  font-size: 14px;
}
.breadcrumbs li + li:before {
  content: ">";
  margin: 0 4px;
}
