.containerDivider {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.subNav {
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.mainHeading {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 15px;
}
.subHeading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.articleLinks {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  padding: 15px 0;
}
.seeAllArticles {
  display: block;
  padding: 15px 0;
}
.seeAllArticles a {
  color: #f47d30 !important;
}

@media only screen and (min-width: 1200px) {
  .headingWrapper {
    display: flex;
    justify-content: flex-end;
  }
  .mainHeading {
    /* padding-left: 200px;
        padding-top: 10px;
        padding: 10px 200px; */
    /* flex-grow: 1; */
    flex: 0 0 83.5%;
  }
}
@media only screen and (min-width: 1400px) {
  /* .mainHeading {
          padding-left: 200px;
          padding-top: 10px;
          padding: 10px 230px;
        } */
}
